body {
    background-image: url("../images/glove_bg_01.jpg");
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: bisque;
    width: 760px;
    height: 500px;
    margin-top: 5%;
    padding-left: 5%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-group-vertical {
    margin: 10px;
    padding: 5px;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
}

.timer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
}

.question {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    
}